body {
    background-image: url("../images/original.jpg");
    background-size: 100%;
}
#jumbo {
    background-color: transparent;
    color: white;
    background-size: 100%;
}

.white {
    color:white;
}
.button{
	margin-top:40%;
}